<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/contacto-style.css" type="text/css">
    <title>Contacto</title>
</head>

<body>
    <header>
        <div class="redes">
            <a href="https://www.instagram.com/latasoftchile/" target="_blank"><img src="/assets/img/instagram.png" alt=""></a>
            <a href="https://www.linkedin.com/company/latasoft/?viewAsMember=true" target="_blank"><img src="/assets/img/linkedin.png" alt=""></a>
            <a href="https://www.youtube.com/@latasoft362" target="_blank"><img src="/assets/img/youtube.png" alt=""></a>
            <a href="https://www.facebook.com/people/Latasoft-Chile/100091938901338/" target="_blank"><img src="/assets/img/facebook.png" alt=""></a>
            <div class="contacto">
                <a href="mailto:latasoftchile@gmail.com"><img src="/assets/img/email.png" alt=""></a>
                <a href="tel:+56976298777"><img src="/assets/img/llamada-telefonica.png" alt=""></a>
            </div>
        </div>
        <div class="menu-superior">
            <img src="/assets/img/Proyecto nuevo.png" alt="">
            <ul>
                <li><a href="/index.html">Inicio</a></li>
                <li><a href="/views/nosotros.html">Nosotros</a></li>
                <li><a href="/views/servicios.html">Servicios</a></li>
                <li><a href="/views/clientes.html">Clientes</a></li>
                <li><a href="/views/proyectos.html">Proyectos</a></li>
                <li><a class="active" href="#">Contacto</a></li>
            </ul>
        </div>
    </header>
    <section class="first-view-contacto">
        <h3>Contacto</h3>
        <p>Potencie su operación con soluciones a medida: en Latasoft hacemos que su proyecto que se adapte a las
            necesidades únicas de su negocio, llevándolo al siguiente nivel de eficiencia y productividad.</p>
            <a class="cont-btn" href="mailto:latasoftchile@gmail.com">Contáctanos</a>
            <p>Hablemos directamente</p>
            <div class="iconos-contacto">
                <a href="tel:+56976298777"><img src="/assets/img/iconos-contacto-view/llamada-telefonica (1).png" alt=""></a>
                <a href="mailto:latasoftchile@gmail.com"><img src="/assets/img/iconos-contacto-view/email (1).png" alt=""></a>
                <a href="https://www.instagram.com/latasoftchile/" target="_blank"><img src="/assets/img/iconos-contacto-view/instagram (2).png" alt=""></a>
            </div>
    </section>
    <section class="second-view-contacto">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2348.6161966485897!2d-71.60968577329089!3d-33.64563287162854!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x96623788ab5e793d%3A0x2945da6196ac999d!2sLos%20Crisantemos%20146%2C%202720693%20Santo%20Domingo%2C%20Valpara%C3%ADso!5e0!3m2!1ses-419!2scl!4v1701712939039!5m2!1ses-419!2scl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <div class="contactos">
            <span><img src="/assets/img/iconos-contacto-view/pasador-de-ubicacion.png" alt="">Casa central <br> Los Crisantemos 146, Sto Domingo, Valparaiso</span>
            <br><br>
            <span><img src="/assets/img/iconos-contacto-view/llamada-telefonica (2).png" alt="">(+56) 9 7629 8777</span>
            <br> <br>
            <span><img src="/assets/img/iconos-contacto-view/correo.png" alt="">latasoftchile@gmail.com</span>
        </div>
    </section>
    <section class="banderas">
        <img src="/assets/img/banderas/bandera de chile.webp" alt="">
        <img src="/assets/img/banderas/bandera argentina.webp" alt="">
        <img src="/assets/img/banderas/Bandera de uruguay.webp" alt="">
        <img src="/assets/img/banderas/bandera de brasil.webp" alt="">
    </section>
    <footer>© 2021 LATASOFT Chile</footer>
</body>

</html>