<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/proyectos-style.css" type="text/css">
    <title>Proyectos</title>
</head>

<body>
    <header>
        <div class="redes">
            <a href="https://www.instagram.com/latasoftchile/" target="_blank"><img src="/assets/img/instagram.png" alt=""></a>
            <a href="https://www.linkedin.com/company/latasoft/?viewAsMember=true" target="_blank"><img src="/assets/img/linkedin.png" alt=""></a>
            <a href="https://www.youtube.com/@latasoft362" target="_blank"><img src="/assets/img/youtube.png" alt=""></a>
            <a href="https://www.facebook.com/people/Latasoft-Chile/100091938901338/" target="_blank"><img src="/assets/img/facebook.png" alt=""></a>
            <div class="contacto">
                <a href="mailto:latasoftchile@gmail.com"><img src="/assets/img/email.png" alt=""></a>
                <a href="tel:+56976298777"><img src="/assets/img/llamada-telefonica.png" alt=""></a>
            </div>
        </div>
        <div class="menu-superior">
            <img src="/assets/img/Proyecto nuevo.png" alt="">
            <ul>
                <li><a href="/index.html">Inicio</a></li>
                <li><a href="/views/nosotros.html">Nosotros</a></li>
                <li><a href="/views/servicios.html">Servicios</a></li>
                <li><a href="/views/clientes.html">Clientes</a></li>
                <li><a class="active" href="#">Proyectos</a></li>
                <li><a href="/views/contacto.html">Contacto</a></li>
            </ul>
        </div>
    </header>
    <section class="first-view-proyectos">
        <h3>Proyectos</h3>
        <h4>BuildSync</h4>
        <div class="buildSync">
            <p>Lo que demuestra su potencial y capacidad para innovar, Latasoft creo el prototipo del dispositivo,
                app y sistema RFID junto a los Founders al igual que su estrategia de lanzamiento.
                Al estar próximo a participar en un Demo Day y tener una ronda de inversión con inversionistas
                extranjeros es un hito significativo para la startup.</p>
            <div class="grua"></div>
            <img class="banner" src="/assets/img/proyectos/industry-3118274.jpg" alt="">
        </div>
        <p class="texto-final-build">Startup de construcción chilena que han logrado destacar en una convocatoria para
            entrar a una de las
            mejores 100 incubadoras del mundo.</p>
    </section>
    <section class="second-view-proyectos">
        <div class="second-view-left">
            <h4>ChincolTX</h4>
            <p>Empresa de traders y analistas, esta empresa ha logrado consistentemente rentabilidades superiores al
                mercado durante varios meses, lo que ha demostrado su habilidad y dominio en la toma de decisiones
                financieras.</p>
            <img src="/assets/img/proyectos/blur-1853262_1280.jpg" alt="">
            <p>Han conseguido una alianza estratégica con Merrill Lynch, una reconocida firma de servicios financieros
                estadounidense.</p>
        </div>
        <div class="second-view-right">
            <img src="/assets/img/proyectos/stock-1863880_1280.jpg" alt="">
            <p>La plataforma interna y app privada desarrollada por latasoft ha sido clave en su éxito, permitiéndoles
                información en tiempo real, realizar análisis y ejecutar operaciones de manera eficiente para sus
                analistas y traders.</p>
        </div>
    </section>
    <section class="third-view-proyectos">
        <div class="third-view-left">
            <h4>Happy Movil</h4>
            <img src="/assets/img/proyectos/cellphone-tower-5279158_1280.jpg" alt="">
            <p>Empresa de telefonía OMV (Operador Móvil Virtual) en Chile.
                Con una plataforma interna, App de monitoreo de las antenas y estrategia de internet desarrollada por
                Latasoft y una exitosa prueba pública.</p>
        </div>
        <div class="third-view-right">
            <p>Su operación se extiende a nivel nacional, brindando cobertura de red 5G.
                Próximos al lanzamiento en el mercado y ya aprobados por parte de la Subte de Chile.</p>
                <img src="/assets/img/proyectos/telephone-610149_1280.jpg" alt="">
        </div>
    </section>
    <p class="nota">*Todas las imágenes publicadas en esta sección son referenciales</p>
    <section class="fourth-view">
        <div class="fourth-view-izquierdo">
            <h4>Desarrollamos eso que tienes
                en mente, contáctanos</h4>
            <p>En Latasoft, nos dedicamos apasionadamente a eso que tienes en mente. Nuestro compromiso es impulsar la
                innovación a través de soluciones tecnológicas excepcionales. Con un equipo de expertos en desarrollo,
                nos esforzamos por transformar ideas en realidades digitales. Descubre el poder de la programación con
                nosotros y lleva tu visión al siguiente nivel. Conecta con nosotros para construir el futuro juntos.</p>
            <div class="redes-footer">
                <a href="https://www.instagram.com/latasoftchile/" target="_blank"><img src="/assets/img/iconos-contacto/instagram (1).png" alt=""></a>
                <a href="https://www.linkedin.com/company/latasoft/?viewAsMember=true" target="_blank"><img src="/assets/img/iconos-contacto/linkedin (1).png" alt=""></a>
                <a href="https://www.youtube.com/@latasoft362" target="_blank"><img src="/assets/img/iconos-contacto/youtube (1).png" alt=""></a>
                <a href="https://www.facebook.com/people/Latasoft-Chile/100091938901338/" target="_blank"><img src="/assets/img/iconos-contacto/facebook (1).png" alt=""></a>
            </div>
        </div>
        <div class="fourth-view-derecho">
            <p>Los Crisantemos 146, Sto Domingo, Valparaiso <br>
                (+56) 9 7629 8777 <br>
                latasoftchile@gmail.com</p>
            <br>
            <p>Lunes a Viernes de 9:00 AM a 18:00 PM</p>
        </div>
    </section>
    <footer>© 2021 LATASOFT Chile</footer>
</body>

</html>