<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/proyectos-style.css" type="text/css">
    <title>Proyectos</title>
</head>

<body>
    <header>
        <div class="redes">
            <a href="https://www.instagram.com/latasoftchile/" target="_blank"><img src="/assets/img/instagram.png"
                    alt=""></a>
            <a href="https://www.linkedin.com/company/latasoft/?viewAsMember=true" target="_blank"><img
                    src="/assets/img/linkedin.png" alt=""></a>
            <a href="https://www.youtube.com/@latasoft362" target="_blank"><img src="/assets/img/youtube.png"
                    alt=""></a>
            <a href="https://www.facebook.com/people/Latasoft-Chile/100091938901338/" target="_blank"><img
                    src="/assets/img/facebook.png" alt=""></a>
            <div class="contacto">
                <a href="mailto:latasoftchile@gmail.com"><img src="/assets/img/email.png" alt=""></a>
                <a href="tel:+56942978432"><img src="/assets/img/llamada-telefonica.png" alt=""></a>
            </div>
        </div>
        <div class="menu-superior">
            <img src="/assets/img/Proyecto nuevo.png" alt="">
            <ul>
                <li><a href="/index.html">Inicio</a></li>
                <li><a href="/views/nosotros.html">Nosotros</a></li>
                <li><a href="/views/servicios.html">Servicios</a></li>
                <li><a href="/views/clientes.html">Clientes</a></li>
                <li><a class="active" href="#">Proyectos</a></li>
                <li><a href="/views/contacto.html">Contacto</a></li>
            </ul>
        </div>
    </header>
    <h3 class="titulo">Nuestro portafolio</h3>
    <p class="parrafo-titulo">En Latasoft desarrollamos múltiples proyectos los cuales abarcan el diseño web y el
        desarrollo de
        aplicaciones móviles. Estos proyectos incluyen la creación de sitios web interactivos, aplicaciones móviles
        innovadoras y soluciones digitales centradas en mejorar la experiencia del usuario.</p>

    <section class="first-view-proyectos">
        <a href="https://soapayuda.cl/" target="_blank">
            <h4>Soap Ayuda</h4>
        </a>
        <div class="content">
            <p> Mediante el <b>Plan Latasoft</b> se trabajó una página estructurada tipo landing page para recaudación
                de seguros SOAP para ONG.<br>
                Algunas marcas adheridas a este proyecto fueron Mutual de seguro junto con
                seguros obligatorios para automóviles</p>
            <img class="banner" src="/assets/img/proyectos/foto1.png" alt="">
        </div>
    </section>
    <section class="second-view">
        <a href="https://www.pandawok.cl/" target="_blank">
            <h4>Wok Panda</h4>
        </a>
        <div class="content">
            <img class="banner" src="/assets/img/proyectos/foto2.png" alt="">
            <p> Mediante el <b>Plan Latasoft</b> nos centramos en la creación y expansión de la página web para el
                tenedor
                libre más grande de Chile. Como parte de nuestro compromiso continuo con la excelencia en el desarrollo
                web y la satisfacción del cliente expandimos la presencia en línea de este establecimiento líder en su
                categoría.</p>
        </div>
    </section>
    <section class="first-view-proyectos">
        <a href="https://surmodel.cl/" target="_blank">
            <h4>Sur Model</h4>
        </a>
        <div class="content">
            <p> Mediante el <b>Plan Maestro</b> se trabajó en la implementación de una plataforma de gestión documental,
                solicitud y posterior toma de promoción de eventos para sus promotoras.<br>
                Adicional a esto se trabajó en una extensión de aplicación móvil para la
                ofertas de trabajos temporales</p>
            <img class="banner" src="/assets/img/proyectos/foto3.png" alt="">
        </div>
    </section>
    <section class="second-view">
        <a href="https://autodraft.cl/" target="_blank">
            <h4>Autodraft</h4>
        </a>
        <div class="content">
            <img class="banner" src="/assets/img/proyectos/foto4.png" alt="">
            <p> Mediante el <b>Plan Maestro</b> trabajamos en una página web estilo e-commerce, la cual contiene una
                plataforma interna con gestión de inventario y gestión documental interna, adicional a esto, la
                plataforma cuenta con un sistema de pagos para realizar las compras correspondientes.</p>
        </div>
    </section>
    <section class="first-view-proyectos">
        <h4>DesarrollaT</h4>
        <div class="content">
            <p> En Latasoft desarrollamos una e-commerce destinada a la empresa DesarrollaT, implementamos el diseño y
                posterior programación de este sistema.<br>
                En este proyecto desarrollamos cada una de las vistas, las cuales incluyen su respectiva sección de
                pago, contacto, etc.</p>
            <img class="banner" src="/assets/img/proyectos/foto5.png" alt="">
        </div>
    </section>
    <section class="second-view">
        <a href="https://cepcon.cl/" target="_blank">
            <h4>Cepcon</h4>
        </a>
        <div class="content">
            <img class="banner" src="/assets/img/proyectos/foto6.png" alt="">
            <p> Para la plataforma desarrollada a Cepcon, implementamos la programación de la web según los
                requerimientos
                solicitados por la empresa, desarrollo web el cual se realizó con vistas para los distintos
                dispositivos.
            </p>
        </div>
    </section>
    <section class="first-view-proyectos">
        <h4>Fuerza de ventas</h4>
        <div class="content">
            <p>Para Fuerza de ventas desarrollamos una plataforma de servicios y contacto. <br>
                En Latasoft desarrollamos el diseño visual y posterior programación de este sistema.</p>
            <img class="banner" src="/assets/img/proyectos/foto7.png" alt="">
        </div>
    </section>
    <section class="second-view">
        <a href="https://www.totalmedios.com/" target="_blank">
            <h4>Total Medios</h4>
        </a>
        <div class="content">
            <img class="banner" src="/assets/img/proyectos/foto8.png" alt="">
            <p> Con Total Medios desarrollamos la programación web con sus distintas secciones disponibles.<br>
                Para este proyecto integramos distintas funcionalidades web solicitadas, teniendo así como resultado
                final una página atractiva y funcional.
            </p>
        </div>
    </section>
    <section class="first-view-proyectos">
        <a href="http://www.proyecta.cl/" target="_blank">
            <h4>ProyectaCorp</h4>
        </a>
        <div class="content">
            <p> Para ProyectaCorp se realizó una estructura de sistema de software interno a la empresa, añadiendo la
                funcionalidad correspondiente y el sistema de seguridad necesario para su correcto funcionamiento
                interno.</p>
            <img class="banner" src="/assets/img/proyectos/foto9.png" alt="">
        </div>
    </section>
    <section class="second-view">
        <a href="https://www.duoc.cl/" target="_blank">
            <h4>DuocUC</h4>
        </a>
        <div class="content">
            <img class="banner" src="/assets/img/proyectos/foto10.png" alt="">
            <p> Para DuocUC se realizó un programa de realidad virtual y realidad aumentada, relacionada a la escuela de
                construcción, especificamente a la sede de Valparaiso.
            </p>
        </div>
    </section>
    <section class="first-view-proyectos">
        <a href="https://venezuela.masisa.com/" target="_blank">
            <h4>Masisa Venezuela</h4>
        </a>
        <div class="content">
            <p> Para el desarrollo de Masisa Venezuela realizamos la landing page con sus distintas funcionalidades y su
                respectivo diseño representativo.</p>
            <img class="banner" src="/assets/img/proyectos/foto11.png" alt="">
        </div>
    </section>
    <section class="second-view">
        <a href="https://publicityads--google-partner--meta-ads--linkedin-1.webnode.cl/?fbclid=PAAaYqalOM4PYQI3S6S46MbFNyoIPreFKQmhkRahK2FVMfMTIL63QEBR7RpYg" target="_blank">
            <h4>Publicity Ads</h4>
        </a>
        <div class="content">
            <img class="banner" src="/assets/img/proyectos/foto12.png" alt="">
            <p> En Publicity Ads trabajamos con el desarrollo de una landing page orientada a publicidad en internet y presencia radial. 
            </p>
        </div>
    </section>
    <section class="fourth-view">
        <div class="fourth-view-izquierdo">
            <h4>Desarrollamos eso que tienes
                en mente, contáctanos</h4>
            <p>En Latasoft, nos dedicamos apasionadamente a eso que tienes en mente. Nuestro compromiso es impulsar la
                innovación a través de soluciones tecnológicas excepcionales. Con un equipo de expertos en desarrollo,
                nos esforzamos por transformar ideas en realidades digitales. Descubre el poder de la programación con
                nosotros y lleva tu visión al siguiente nivel. Conecta con nosotros para construir el futuro juntos.</p>
            <div class="redes-footer">
                <a href="https://www.instagram.com/latasoftchile/" target="_blank"><img
                        src="/assets/img/iconos-contacto/instagram (1).png" alt=""></a>
                <a href="https://www.linkedin.com/company/latasoft/?viewAsMember=true" target="_blank"><img
                        src="/assets/img/iconos-contacto/linkedin (1).png" alt=""></a>
                <a href="https://www.youtube.com/@latasoft362" target="_blank"><img
                        src="/assets/img/iconos-contacto/youtube (1).png" alt=""></a>
                <a href="https://www.facebook.com/people/Latasoft-Chile/100091938901338/" target="_blank"><img
                        src="/assets/img/iconos-contacto/facebook (1).png" alt=""></a>
            </div>
        </div>
        <div class="fourth-view-derecho">
            <p> 12 Nte 785 Of 406, Viña Del Mar<br>
                Los Crisantemos 146, Sto Domingo, Valparaiso <br><br>
                +56 9 4297 8432 <br>
                +56 9 9127 5137<br><br>
                latasoftchile@gmail.com</p>
            <br>
            <p>Lunes a Viernes de 9:00 AM a 18:00 PM</p>
        </div>
    </section>
    <footer>© 2021 LATASOFT Chile</footer>
</body>

</html>