<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/proyectos-style.css" type="text/css">
    <title>Proyectos</title>
</head>

<body>
    <header>
        <div class="redes">
            <a href="https://www.instagram.com/latasoftchile/" target="_blank"><img src="/assets/img/instagram.png"
                    alt=""></a>
            <a href="https://www.linkedin.com/company/latasoft/?viewAsMember=true" target="_blank"><img
                    src="/assets/img/linkedin.png" alt=""></a>
            <a href="https://www.youtube.com/@latasoft362" target="_blank"><img src="/assets/img/youtube.png"
                    alt=""></a>
            <a href="https://www.facebook.com/people/Latasoft-Chile/100091938901338/" target="_blank"><img
                    src="/assets/img/facebook.png" alt=""></a>
            <div class="contacto">
                <a href="mailto:latasoftchile@gmail.com"><img src="/assets/img/email.png" alt=""></a>
                <a href="tel:+56942978432"><img src="/assets/img/llamada-telefonica.png" alt=""></a>
            </div>
        </div>
        <div class="menu-superior">
            <img src="/assets/img/Proyecto nuevo.png" alt="">
            <ul>
                <li><a href="/index.html">Inicio</a></li>
                <li><a href="/views/nosotros.html">Nosotros</a></li>
                <li><a href="/views/servicios.html">Servicios</a></li>
                <li><a href="/views/clientes.html">Clientes</a></li>
                <li><a class="active" href="#">Proyectos</a></li>
                <li><a href="/views/contacto.html">Contacto</a></li>
            </ul>
        </div>
    </header>
    <h3 class="titulo">Nuestro portafolio</h3>
    <p class="parrafo-titulo">En Latasoft desarrollamos múltiples proyectos los cuales abarcan el diseño web y el
        desarrollo de
        aplicaciones móviles. Estos proyectos incluyen la creación de sitios web interactivos, aplicaciones móviles
        innovadoras y soluciones digitales centradas en mejorar la experiencia del usuario.</p>

    <section class="first-view-proyectos">
        <a href="https://soapayuda.cl/" target="_blank">
            <h4>Soap Ayuda</h4>
        </a>
        <div class="content">
            <p> Mediante el <b>Plan Latasoft</b> se trabajó una página estructurada tipo landing page para recaudación
                de seguros SOAP para ONG.<br>
                Algunas marcas adheridas a este proyecto fueron Mutual de seguro junto con
                seguros obligatorios para automóviles</p>
            <img class="banner" src="/assets/img/proyectos/foto1.png" alt="">
        </div>
    </section>
    <section class="second-view">
        <a href="https://www.pandawok.cl/" target="_blank">
            <h4>Wok Panda</h4>
        </a>
        <div class="content">
            <img class="banner" src="/assets/img/proyectos/foto2.png" alt="">
            <p> Mediante el <b>Plan Latasoft</b> nos centramos en la creación y expansión de la página web para el
                tenedor
                libre más grande de Chile. Como parte de nuestro compromiso continuo con la excelencia en el desarrollo
                web y la satisfacción del cliente expandimos la presencia en línea de este establecimiento líder en su
                categoría.</p>
        </div>
    </section>
    <section class="first-view-proyectos">
        <a href="https://surmodel.cl/" target="_blank">
            <h4>Sur Model</h4>
        </a>
        <div class="content">
            <p> Mediante el <b>Plan Maestro</b> se trabajó en la implementación de una plataforma de gestión documental,
                solicitud y posterior toma de promoción de eventos para sus promotoras.<br>
                Adicional a esto se trabajó en una extensión de aplicación móvil para la
                ofertas de trabajos temporales</p>
            <img class="banner" src="/assets/img/proyectos/foto3.png" alt="">
        </div>
    </section>
    <section class="second-view">
        <a href="https://autodraft.cl/" target="_blank">
            <h4>Autodraft</h4>
        </a>
        <div class="content">
            <img class="banner" src="/assets/img/proyectos/foto4.png" alt="">
            <p> Mediante el <b>Plan Maestro</b> trabajamos en una página web estilo e-commerce, la cual contiene una
                plataforma interna con gestión de inventario y gestión documental interna, adicional a esto, la
                plataforma cuenta con un sistema de pagos para realizar las compras correspondientes.</p>
        </div>
    </section>
    <section class="first-view-proyectos">
        <h4>DesarrollaT</h4>
        <div class="content">
            <p> En Latasoft desarrollamos una e-commerce destinada a la empresa DesarrollaT, implementamos el diseño y
                posterior programación de este sistema.<br>
                En este proyecto desarrollamos cada una de las vistas, las cuales incluyen su respectiva sección de
                pago, contacto, etc.</p>
            <img class="banner" src="/assets/img/proyectos/foto5.png" alt="">
        </div>
    </section>
    <section class="second-view">
        <a href="https://cepcon.cl/" target="_blank">
            <h4>Cepcon</h4>
        </a>
        <div class="content">
            <img class="banner" src="/assets/img/proyectos/foto6.png" alt="">
            <p> Para la plataforma desarrollada a Cepcon, implementamos la programación de la web según los
                requerimientos
                solicitados por la empresa, desarrollo web el cual se realizó con vistas para los distintos
                dispositivos.
            </p>
        </div>
    </section>
    <section class="first-view-proyectos">
        <h4>Fuerza de ventas</h4>
        <div class="content">
            <p>Para Fuerza de ventas desarrollamos una plataforma de servicios y contacto. <br>
                En Latasoft desarrollamos el diseño visual y posterior programación de este sistema.</p>
            <img class="banner" src="/assets/img/proyectos/foto7.png" alt="">
        </div>
    </section>
    <section class="second-view">
        <a href="https://www.totalmedios.com/" target="_blank">
            <h4>Total Medios</h4>
        </a>
        <div class="content">
            <img class="banner" src="/assets/img/proyectos/foto8.png" alt="">
            <p> Con Total Medios desarrollamos la programación web con sus distintas secciones disponibles.<br>
                Para este proyecto integramos distintas funcionalidades web solicitadas, teniendo así como resultado
                final una página atractiva y funcional.
            </p>
        </div>
    </section>
    <section class="first-view-proyectos">
        <a href="http://www.proyecta.cl/" target="_blank">
            <h4>ProyectaCorp</h4>
        </a>
        <div class="content">
            <p> Para ProyectaCorp se realizó una estructura de sistema de software interno a la empresa, añadiendo la
                funcionalidad correspondiente y el sistema de seguridad necesario para su correcto funcionamiento
                interno.</p>
            <img class="banner" src="/assets/img/proyectos/foto9.png" alt="">
        </div>
    </section>
    <section class="second-view">
        <a href="https://www.duoc.cl/" target="_blank">
            <h4>DuocUC</h4>
        </a>
        <div class="content">
            <img class="banner" src="/assets/img/proyectos/foto10.png" alt="">
            <p> Para DuocUC se realizó un programa de realidad virtual y realidad aumentada, relacionada a la escuela de
                construcción, especificamente a la sede de Valparaiso.
            </p>
        </div>
    </section>
    <section class="first-view-proyectos">
        <a href="https://venezuela.masisa.com/" target="_blank">
            <h4>Masisa Venezuela</h4>
        </a>
        <div class="content">
            <p> Para el desarrollo de Masisa Venezuela realizamos la landing page con sus distintas funcionalidades y su
                respectivo diseño representativo.</p>
            <img class="banner" src="/assets/img/proyectos/foto11.png" alt="">
        </div>
    </section>
    <section class="second-view">
        <a href="https://publicityads--google-partner--meta-ads--linkedin-1.webnode.cl/?fbclid=PAAaYqalOM4PYQI3S6S46MbFNyoIPreFKQmhkRahK2FVMfMTIL63QEBR7RpYg"
            target="_blank">
            <h4>Publicity Ads</h4>
        </a>
        <div class="content">
            <img class="banner" src="/assets/img/proyectos/foto12.png" alt="">
            <p> En Publicity Ads trabajamos con el desarrollo de una landing page orientada a publicidad en internet y
                presencia radial.
            </p>
        </div>
    </section>
    <section class="proveedores">
        <p>Además de nuestro proyectos, orgullosamente brindamos servicios como proveedores oficiales de desarrollo de
            software.<br>
            Algunas de las empresas que confían en nosotros son:</p>
        <div class="imagenes-prov">
            <img src="/assets/img/proveedores/pucobre - i_logo_pucobre.jpg" alt="">
            <img src="/assets/img/proveedores/logo.svg" alt="">
            <img src="/assets/img/proveedores/logo2.jpg" alt="">
            <img src="/assets/img/proveedores/red-compra-logo.png" alt="">
        </div>
    </section>
    <!-- ----------------------------------------------------------------- -->
    <section class="appUno">
        <h4>Algunas de las Apps que realizamos</h4>
        <div class="slider-container">
            <div class="slider">
                <div class="slide">
                    <img src="/assets/img/ap/sur2.png" alt="Imagen 1">
                    <button class="info-button">i</button>
                    <h3>Surmodel</h3>
                    <div class="info">En Latasoft desarrollamos la app de Surmodel, la cual consiste en un registro de
                        usuarios y posterior toma de empleos, con una gestión completa dentro de la plataforma</div>
                </div>
                <div class="slide">
                    <img src="/assets/img/ap/snack.png" alt="Imagen 2">
                    <button class="info-button">i</button>
                    <h3>Snack App</h3>
                    <div class="info">En nuestros inicios desarrollamos la App "Snack App", la cual era un foro social
                        que incluía un chat directo, orientado a departamentos de empresas tanto internos como externos.
                    </div>
                </div>
                <div class="slide">
                    <img src="/assets/img/ap/delfos.png" alt="Imagen 2">
                    <button class="info-button">i</button>
                    <h3>Delfos ERP</h3>
                    <div class="info">Para Delfos ERP, creamos una extensión de su plataforma web, para mejorar y
                        agilizar su gestión interna.
                    </div>
                </div>
                <div class="slide">
                    <img src="/assets/img/ap/pizza.png" alt="Imagen 2">
                    <button class="info-button">i</button>
                    <h3>Pizza Hut</h3>
                    <div class="info">A través de la gestión de tictuk, desarrollamos una plataforma tanto visual como funcional
                        para la conocida cadena de comida rápida Pizza Hut.
                    </div>
                </div>
                <div class="slide">
                    <img src="/assets/img/ap/salud.png" alt="Imagen 2">
                    <button class="info-button">i</button>
                    <h3>Salud Ya</h3>
                    <div class="info">En Latasoft desarrollamos una aplicación tipo "Uber" destinada a la toma de pacientes por parte de especialistas
                        de la medicina, este proyecto  consta de dos aplicaciones, la app general que es dedicada a los pacientes y sus solicitudes
                        y la app que es dedicada a los profesionales de la salud.
                    </div>
                </div>
                <div class="slide">
                    <img src="/assets/img/ap/arenas.png" alt="Imagen 2">
                    <button class="info-button">i</button>
                    <h3>Arenas y Cayo</h3>
                    <div class="info">Para Arenas y Cayo desarrollamos un sistema de tasaciones con registro de usuarios y posteriores
                        pagos dentro de la app.
                    </div>
                </div>
                <div class="slide">
                    <img src="/assets/img/ap/seguro.png" alt="Imagen 2">
                    <button class="info-button">i</button>
                    <h3>Mundo del Seguro</h3>
                    <div class="info">En Mundo del Seguro desarrollamos una plataforma de compra interna orientada a la compra y  revision de seguros automotrices.
                    </div>
                </div>
                <div class="slide">
                    <img src="/assets/img/ap/barrio.png" alt="Imagen 2">
                    <button class="info-button">i</button>
                    <h3>Barrio + F</h3>
                    <div class="info">En Barrio + F desarrollamos una plataforma la cual cuanta con su respectivo registro de usuario y principalmente va destinado a
                        las empresas que quieran invertir en proyectos determinados.
                    </div>
                </div>
                <div class="slide">
                    <img src="/assets/img/ap/finbox.png" alt="Imagen 2">
                    <button class="info-button">i</button>
                    <h3>Finbox</h3>
                    <div class="info">En gestión con la Universidad Católica de Valparaiso, desarrollamos una aplicación para dicha institución
                        la cual consiste en una toma de empleos para que los estudiantes generen un ingreso extra.
                    </div>
                </div>
                <!-- Repite para las otras imágenes -->
            </div>
            <div class="navigation-container">
                <div class="navigation">
                    <button id="prevBtn">
                        < </button>
                            <button id="nextBtn">></button>
                </div>
            </div>
        </div>
    </section>

    <!-- ----------------------------------------------------------------- -->
    <section class="fourth-view">
        <div class="fourth-view-izquierdo">
            <h4>Desarrollamos eso que tienes
                en mente, contáctanos</h4>
            <p>En Latasoft, nos dedicamos apasionadamente a eso que tienes en mente. Nuestro compromiso es impulsar la
                innovación a través de soluciones tecnológicas excepcionales. Con un equipo de expertos en desarrollo,
                nos esforzamos por transformar ideas en realidades digitales. Descubre el poder de la programación con
                nosotros y lleva tu visión al siguiente nivel. Conecta con nosotros para construir el futuro juntos.</p>
            <div class="redes-footer">
                <a href="https://www.instagram.com/latasoftchile/" target="_blank"><img
                        src="/assets/img/iconos-contacto/instagram (1).png" alt=""></a>
                <a href="https://www.linkedin.com/company/latasoft/?viewAsMember=true" target="_blank"><img
                        src="/assets/img/iconos-contacto/linkedin (1).png" alt=""></a>
                <a href="https://www.youtube.com/@latasoft362" target="_blank"><img
                        src="/assets/img/iconos-contacto/youtube (1).png" alt=""></a>
                <a href="https://www.facebook.com/people/Latasoft-Chile/100091938901338/" target="_blank"><img
                        src="/assets/img/iconos-contacto/facebook (1).png" alt=""></a>
            </div>
        </div>
        <div class="fourth-view-derecho">
            <p> 12 Nte 785 Of 406, Viña Del Mar<br>
                Los Crisantemos 146, Sto Domingo, Valparaiso <br><br>
                +56 9 4297 8432 <br>
                +56 9 9127 5137<br><br>
                latasoftchile@gmail.com</p>
            <br>
            <p>Lunes a Viernes de 9:00 AM a 18:00 PM</p>
        </div>
    </section>
    <footer>© 2021 LATASOFT Chile</footer>
    <script src="/scripts/scriptDos.js"></script>
</body>

</html>