<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/servicios-style.css" type="text/css">
    <title>Servicios</title>
</head>

<body>
    <header>
        <div class="redes">
            <a href="https://www.instagram.com/latasoftchile/" target="_blank"><img src="/assets/img/instagram.png" alt=""></a>
            <a href="https://www.linkedin.com/company/latasoft/?viewAsMember=true" target="_blank"><img src="/assets/img/linkedin.png" alt=""></a>
            <a href="https://www.youtube.com/@latasoft362" target="_blank"><img src="/assets/img/youtube.png" alt=""></a>
            <a href="https://www.facebook.com/people/Latasoft-Chile/100091938901338/" target="_blank"><img src="/assets/img/facebook.png" alt=""></a>
            <div class="contacto">
                <a href="mailto:latasoftchile@gmail.com"><img src="/assets/img/email.png" alt=""></a>
                <a href="tel:+56942978432"><img src="/assets/img/llamada-telefonica.png" alt=""></a>
            </div>
        </div>
        <div class="menu-superior">
            <img src="/assets/img/Proyecto nuevo.png" alt="">
            <ul>
                <li><a href="/index.html">Inicio</a></li>
                <li><a href="/views/nosotros.html">Nosotros</a></li>
                <li><a class="active" href="#">Servicios</a></li>
                <li><a href="/views/clientes.html">Clientes</a></li>
                <li><a href="/views/proyectos.html">Proyectos</a></li>
                <li><a href="/views/contacto.html">Contacto</a></li>
            </ul>
        </div>
    </header>
    <section class="first-view-servicios">
        <h3>Nuestros servicios</h3>
        <p>Tenemos una gran cantidad de alternativas a ofrecerte para que tu negocio o proyecto den un gran paso</p>
    </section>
    <section class="second-view-servicios">
        <div class="left">
            <div class="left-side-servicios">
                <span><img src="/assets/img/iconos-servicios-view/sitio-web (1).png" alt="">
                    <h4>Diseño de páginas web</h4>
                    <p>Una página web amplía la visibilidad, establece credibilidad y facilita la interacción,
                        impulsando la
                        presencia y el éxito comercial.</p>
                </span>
                <span><img src="/assets/img/iconos-servicios-view/e-commerce (1).png" alt="">
                    <h4>E-Commerce</h4>
                    <p>Un e-commerce maximiza ventas, brinda acceso global las 24/7, mejora la experiencia del cliente y
                        optimiza la gestión empresarial.</p>
                </span>
                <span><img src="/assets/img/iconos-servicios-view/intranet.png" alt="">
                    <h4>Intranet</h4>
                    <p>La intranet fortalece la comunicación interna, centraliza la información, facilita la
                        colaboración y
                        aumenta la eficiencia operativa interna de la empresa.</p>
                </span>
                <span><img src="/assets/img/iconos-servicios-view/app (1).png" alt="">
                    <h4>Apps Móviles</h4>
                    <p>Una aplicación móvil potencia la conveniencia, personaliza la interacción, optimiza la movilidad y
                        fortalece la conexión constante, mejorando la satisfacción del usuario.</p>
                </span>
            </div>
        </div>
    </section>
    <section class="seccion-precios">
        <h3 class="titulo-planes">Planes básicos</h3>
        <div class="contenedores-planes">
            <div class="contenedor">
                <h3>Plan Micro</h3>
                <div class="plan">
                    <div class="info-plan">
                        <img src="/assets/img/precios/diseno-web.png" alt="">
                        <p>Landing Page simple <br>
                            Diseño de Landing.</p>
                    </div>
                    <div class="info-plan">
                        <img src="/assets/img/precios/contenido-del-sitio-web.png" alt="">
                        <p>Sección inicio, quiénes somos, información de contacto.
                            </p>
                    </div>
                    <div class="info-plan">
                        <img src="/assets/img/precios/www.png" alt="">
                        <p>Vinculación a dominio y Hosting.</p>
                    </div>
                </div>
                <div class="precio"><h4>$90.000</h4></div>
            </div>
            <div class="contenedor">
                <h3>Plan PYME</h3>
                <div class="plan">
                    <div class="info-plan">
                        <img src="/assets/img/precios/diseno-web.png" alt="">
                        <p>Diseño Web personalizado.</p>
                    </div>
                    <div class="info-plan">
                        <img src="/assets/img/precios/contenido-del-sitio-web.png" alt="">
                        <p>Landing o página conveniencia cliente.
                            </p>
                    </div>
                    <div class="info-plan">
                        <img src="/assets/img/precios/servidor-en-la-nube.png" alt="">
                        <p>Hosting gratis x 1 año.
                            </p>
                    </div>
                    <div class="info-plan">
                        <img src="/assets/img/precios/soporte-tecnico.png" alt="">
                        <p>Soporte Web 24/7 x 1 año.
                            </p>
                    </div>
                </div>
                <div class="precio"><h5>$350.000</h5><h4>$220.000</h4></div>
            </div>
        </div>
    </section>
    <section class="seccion-preciosDos">
        <h3 class="titulo-planes">Planes PREMIUM ★★★★★</h3>
        <div class="contenedores-planes">
            <div class="contenedor">
                <h3>Plan Latasoft</h3>
                <div class="plan">
                    <div class="info-plan">
                        <img src="/assets/img/precios/servidor-en-la-nube.png" alt="">
                        <p>Hosting x 2 años.</p>
                    </div>
                    <div class="info-plan">
                        <img src="/assets/img/precios/dato.png" alt="">
                        <p>Base de datos hasta 2.000 usuarios.
                            </p>
                    </div>
                    <div class="info-plan">
                        <img src="/assets/img/precios/analitica.png" alt="">
                        <p>Cuenta de Google Analytics.</p>
                    </div>
                    <div class="info-plan">
                        <img src="/assets/img/precios/telefono-inteligente.png" alt="">
                        <p>Visor Móvil y Auto.</p>
                    </div>
                </div>
                <div class="precio"><h4>$550.000</h4><h5>+IVA</h5></div>
            </div>
            <div class="contenedor">
                <h3>Plan Maestro</h3>
                <div class="plan">
                    <div class="info-plan">
                        <img src="/assets/img/precios/servidor-en-la-nube.png" alt="">
                        <p>Hosting x 3 años.</p>
                    </div>
                    <div class="info-plan">
                        <img src="/assets/img/precios/erp.png" alt="">
                        <p>Plataforma interna(ERP, CMS o WMS).
                            </p>
                    </div>
                    <div class="info-plan">
                        <img src="/assets/img/precios/analitica.png" alt="">
                        <p>50.000 en Google Ads.</p>
                    </div>
                </div>
                <div class="precio"><h4>$900.000</h4><h5>+IVA</h5></div>
            </div>
        </div>
    </section>
    <section class="seccion-preciosTres">
        <h3 class="titulo-planes">App Móvil</h3>
        <div class="contenedores-planes">
            <div class="contenedor">
                <div class="plan">
                    <div class="info-plan">
                        <img src="/assets/img/precios/disenador-grafico.png" alt="">
                        <p>Pre diseño y diseño final realizado en Figma a cargo de equipo de Latasoft.<br>Demo de app.</p>
                    </div>
                    <div class="info-plan">
                        <img src="/assets/img/precios/telefono.png" alt="">
                        <p>MVP (Interacción dentro de la demo sin Backend).<br>Posterior programación.
                            </p>
                    </div>
                    <div class="info-plan">
                        <img src="/assets/img/precios/desarrollando.png" alt="">
                        <p>Publicación de APP(AppStore y Play Store). <br> Hasta 500.000 descargas</p>
                    </div>
                    <div class="info-plan">
                        <img src="/assets/img/precios/base-de-datos.png" alt="">
                        <p>Base de datos.<br>Reporte Estadístico de la APP por 6 meses post publicación de APP.</p>
                    </div>
                    <div class="info-plan">
                        <img src="/assets/img/precios/grupo.png" alt="">
                        <p>Estudio de segmentos en la APP</p>
                    </div>
                </div>
                <div class="precio"><h4>$3.500.000</h4><h5>+IVA</h5></div>
            </div>
        </div>
    </section>
    <section class="cotizar">
        <h3>¡Es momento de dar tu primer gran paso!</h3>
        <a href="/views/contacto.html">Cotiza aquí</a>
    </section>
    <section class="fourth-view">
        <div class="fourth-view-izquierdo">
            <h4>Desarrollamos eso que tienes
                en mente, contáctanos</h4>
            <p>En Latasoft, nos dedicamos apasionadamente a eso que tienes en mente. Nuestro compromiso es impulsar la
                innovación a través de soluciones tecnológicas excepcionales. Con un equipo de expertos en desarrollo,
                nos esforzamos por transformar ideas en realidades digitales. Descubre el poder de la programación con
                nosotros y lleva tu visión al siguiente nivel. Conecta con nosotros para construir el futuro juntos.</p>
            <div class="redes-footer">
                <a href="https://www.instagram.com/latasoftchile/" target="_blank"><img src="/assets/img/iconos-contacto/instagram (1).png" alt=""></a>
                <a href="https://www.linkedin.com/company/latasoft/?viewAsMember=true" target="_blank"><img src="/assets/img/iconos-contacto/linkedin (1).png" alt=""></a>
                <a href="https://www.youtube.com/@latasoft362" target="_blank"><img src="/assets/img/iconos-contacto/youtube (1).png" alt=""></a>
                <a href="https://www.facebook.com/people/Latasoft-Chile/100091938901338/" target="_blank"><img src="/assets/img/iconos-contacto/facebook (1).png" alt=""></a>
            </div>
        </div>
        <div class="fourth-view-derecho">
            <p> 12 Nte 785 Of 406, Viña Del Mar<br>
                Los Crisantemos 146, Sto Domingo, Valparaiso <br><br>
                +56 9 4297 8432 <br>
                +56 9 9127 5137<br><br>
                latasoftchile@gmail.com</p>
            <br>
            <p>Lunes a Viernes de 9:00 AM a 18:00 PM</p>
        </div>
    </section>
    <footer>© 2021 LATASOFT Chile</footer>
</body>
</html>