* {
  margin: 0;
  padding: 0;
  color: black;
  font-family: sans-serif;
}
body {
  background-color: #f2f62b;
}
header .redes {
  margin: 10px;
}
header .redes img,
.contacto img {
  width: 30px;
  margin-right: 5px;
}
header .contacto {
  float: right;
}
.menu-superior {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100vw;
  height: 40px;
  background-color: black;
}
.menu-superior img {
  width: 200px;
}
.menu-superior ul {
  list-style-type: none;
}
.menu-superior ul li {
  float: left;
}
.menu-superior ul li a {
  margin-left: 60px;
  color: white;
  text-decoration: none;
  transition: 1s;
}
.menu-superior ul li a:hover {
  color: #f2f62b;
  font-size: 103%;
}
.menu-superior .active {
  color: #f2f62b;
}

/* --------------------------------------------------------------------------------------- */

.first-view-clientes {
  display: flex;
  flex-direction: column;
}
.first-view-clientes h3 {
  font-size: 2em;
  padding: 40px;
  text-align: center;
}
.first-view-clientes p {
  font-size: 1.2em;
  text-align: center;
}
/* Slider */
#slider-container {
    margin-top: 80px;
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    background-color: #fff;
  }

  #slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .slide {
    min-width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slide img {
    width: 250px;
    height: auto;
  }
.first-view-clientes a {
  text-align: center;
  border-radius: 50px;
  font-size: 1.2em;
  width: 250px;
  height: 60px;
  background-color: black;
  color: #f2f62b;
  text-decoration: none;
  transition: 1s;
  display: flex;
  margin: auto;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}
.first-view-clientes a:hover {
  scale: 105%;
  background-color: white;
  color: black;
}

/* --------------------------------------------------------------------------------------- */

.second-view-clientes {
  background-color: black;
}
.second-view-clientes h3 {
  color: white;
  font-size: 1.3em;
  padding: 60px 40px;
}

.second-view-clientes .organizaciones-clientes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  margin: auto;
}
.organizaciones-clientes img {
  max-height: 100px;
  margin: 20px;
}

/* ---------------------------------------------------------------------------------------- */

.fourth-view {
  display: flex;
  background-color: black;
  align-items: center;
}
.fourth-view .fourth-view-izquierdo {
  width: 50%;
  margin: 60px;
}
.fourth-view .fourth-view-izquierdo h4 {
  color: white;
  font-size: 1.6em;
}
.fourth-view .fourth-view-izquierdo p {
  margin-top: 40px;
  color: white;
}
.fourth-view .fourth-view-derecho {
  width: 50%;
  margin: 60px;
}
.fourth-view .fourth-view-derecho p {
  color: white;
}
.redes-footer {
  margin-top: 40px;
}
.redes-footer img {
  width: 40px;
  margin-right: 40px;
  transition: 1s;
}
.redes-footer img:hover {
  scale: 115%;
}
footer {
  padding: 20px 40px;
}

/* ------------------------------------------------------------------------------------- */

@media (max-width: 768px) {
  .menu-superior img {
    display: none;
  }
  .menu-superior ul li a {
    margin-left: 10px;
    color: white;
    text-decoration: none;
    transition: 1s;
    font-size: 0.7em;
  }
  .menu-superior ul li a:hover {
    color: #f2f62b;
    font-size: 0.8em;
  }
  /* -------------------------------------------------------------------------------- */
  .first-view-clientes h3 {
    font-size: 1.5em;
  }
  .first-view-clientes p {
    font-size: 1em;
    margin: auto 20px;
  }
  .first-view-clientes a {
    font-size: 1em;
    width: 180px;
    height: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .first-view-clientes a:hover {
    scale: 105%;
    background-color: white;
    color: black;
  }
  /* --------------------------------------------------------------------------------------- */
  .second-view-clientes h3 {
    color: white;
    font-size: 1.1em;
    padding: 60px 40px;
  }
  .organizaciones-clientes img {
    max-height: 80px;
  }
  /* ---------------------------------------------------------------------------------------- */
  .fourth-view {
    flex-direction: column;
    align-items: center;
  }
  .fourth-view .fourth-view-izquierdo {
    width: 80%;
    margin: auto;
    margin-top: 40px;
  }
  .fourth-view .fourth-view-izquierdo h4 {
    color: white;
    font-size: 1.3em;
  }
  .fourth-view .fourth-view-izquierdo p {
    margin-top: 40px;
    color: white;
    font-size: 0.8em;
  }
  .fourth-view .fourth-view-derecho {
    width: 80%;
    margin: 60px;
  }
  .fourth-view .fourth-view-derecho p {
    color: white;
    font-size: 0.8em;
  }
  .redes-footer {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .redes-footer img {
    width: 30px;
    margin-right: 20px;
    transition: 1s;
  }
  footer {
    font-size: 0.7em;
    padding: 20px 40px;
  }
}
