*{
    margin: 0;
    padding: 0;
    color: black;
    font-family: sans-serif;
}
body{
    background-color: #F2F62B;
}
header .redes{
    margin: 10px;
}
header .redes img, .contacto img{
    width: 30px;
    margin-right: 5px;
}
header .contacto{
    float: right;
}
.menu-superior{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100vw;
    height: 40px;
    background-color: black;
}
.menu-superior img{
    width: 200px;
}
.menu-superior ul{
    list-style-type: none;
}
.menu-superior ul li{
    float: left;
}
.menu-superior ul li a{
    margin-left: 60px;
    color: white;
    text-decoration: none;
    transition: 1s;
}
.menu-superior ul li a:hover{
    color: #F2F62B;
    font-size: 103%;
}
 .menu-superior .active{
    color: #F2F62B;
}

/* --------------------------------------------------------------------------------------------------- */

.first-view-servicios{
    background-color: black;
}
.first-view-servicios h3{
    font-size: 2em;
    color: white;
    text-align: center;
    padding: 40px;
}
.first-view-servicios p{
    color: white;
    padding: 80px;
    text-align: center;
    font-size: 1.2em;
}

/* ------------------------------------------------------------------------------------------------------- */

.second-view-servicios{
    background-color: black;
    display: flex;
}
.left{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
}
.left span{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}
.left span img, .left span h4, .left span p{
    color: white;
    margin-bottom: 20px;
}
.left .left-side-servicios{
    display: flex;
    flex-wrap: wrap;
    justify-content: center ;
}
.left .left-side-servicios span{
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
    align-items: center;
}
.left .left-side-servicios span img{
    width: 100px;
}

.seccion-precios{
    background-color: #F2F62B;
    width: 100%;
    margin: 20px 0 80px 0;
}
.contenedores-planes{
    display: flex;
    margin: 0;
    align-items: flex-start;
}
.contenedor{
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    width: 40%;
    margin: 0 auto;
    border-radius: 20px;
}
.titulo-planes{
    font-size: 2.5em;
    padding: 10px 20px;
    margin: 40px 0;
}
.contenedor h3{
    color: white;
    font-size: 2em;
    margin-bottom: 20px;
}
.info-plan{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
}
.info-plan img{
    width: 60px;
}
.info-plan p{
    color: white;
    width: 80%;
    font-size: 1.3em;
}
.precio h4{
    color: black;
    font-size: 2em;
    text-align: center;
    padding: 10px;
}
.precio{
    margin: 20px auto;
    background-color: #F2F62B;
    width: 50%;
    margin-top: 20px;
    border-radius: 40px;
}
.precio h5{
    color: black;
    text-align: center;
    padding-top: 10px;
    font-size: 1.1em;
}
.seccion-preciosDos{
    background-color: black;
    width: 100%;
    margin: 20px 0 80px 0;
    padding-bottom: 80px;
}
.seccion-preciosDos .contenedor{
    background-color: #F2F62B;
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    width: 40%;
    margin: 0 auto;
    border-radius: 20px;
}
.seccion-preciosDos .titulo-planes{
    padding: 40px 20px;
    color: white;
}
.seccion-preciosDos .contenedor h3{
    color: black;
    font-size: 2em;
    margin-bottom: 20px;
}
.seccion-preciosDos .info-plan p{
    color: black;
    width: 80%;
    font-size: 1.3em;
}

.seccion-preciosDos .precio h4{
    color: #F2F62B;
    font-size: 2em;
    text-align: center;
    padding: 0;
    margin: 0;
}
.seccion-preciosDos .precio{
    margin: 20px auto;
    background-color: black;
    width: 50%;
    border-radius: 40px;
    padding-top: 10px;
}
.seccion-preciosDos .precio h5{
    color: #F2F62B;
    text-align: right;
    font-size: 0.9em;
    margin: 0;
    margin-right: 40px;
    padding: 0;
    margin-bottom: 10px;
}

.seccion-preciosTres{
    background-color: #F2F62B;
    width: 100%;
    margin: 20px 0 80px 0;
}
.seccion-preciosTres .contenedor{
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    width: 94%;
    margin: 0 auto;
    border-radius: 20px;
}
.seccion-preciosTres .titulo-planes{
    padding: 0 20px;
    color: black;
}
.seccion-preciosTres .info-plan p{
    color: white;
    width: 90%;
    font-size: 1.3em;
}
.seccion-preciosTres .precio h4{
    color: black;
    font-size: 2em;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-top: 10px;
}
.seccion-preciosTres .precio{
    margin: 20px auto;
    background-color: #F2F62B;
    width: 50%;
    border-radius: 40px;
}
.seccion-preciosTres .precio h5{
    color: black;
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    margin-left: 100px;
}

.cotizar{
    background-color: black;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cotizar h3{
    margin-top: 40px;
    width: auto;
    font-size: 3em;
    color: white;
    text-align: center;
}
.cotizar a{
    margin-top: 40px;
    text-align: center;
    border-radius: 50px;
    font-size: 1.5em;
    width: 250px;
    height: 60px;
    background-color:#F2F62B;
    color: black;
    text-decoration: none;
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}
.cotizar a:hover{
    scale: 105%;
    background-color: white;
    color: black;
}

/* ---------------------------------------------------------------------------------------------- */

.fourth-view{
    display: flex;
    background-color: black;
    align-items: center;
}
.fourth-view .fourth-view-izquierdo{
    width: 50%;
    margin: 60px;
}
.fourth-view .fourth-view-izquierdo h4{
    color: white;
    font-size: 1.6em;
}
.fourth-view .fourth-view-izquierdo p{
    margin-top: 40px;
    color: white;
}
.fourth-view .fourth-view-derecho{
    width: 50%;
    margin: 60px;
}
.fourth-view .fourth-view-derecho p{
    color: white;
}
.redes-footer{
    margin-top: 40px;
}
.redes-footer img{
    width: 40px;
    margin-right: 40px;
    transition: 1s;
}
.redes-footer img:hover{
    scale: 115%;
}
footer{
    padding: 20px 40px;
}



@media (max-width: 768px) {
    .menu-superior img {
      display: none;
    }
    .menu-superior ul li a {
      margin-left: 10px;
      color: white;
      text-decoration: none;
      transition: 1s;
      font-size: 0.7em;
    }
    .menu-superior ul li a:hover {
      color: #f2f62b;
      font-size: 0.8em;
    }
    /* -------------------------------------------------------------------------------- */
    .first-view-servicios h3{
        font-size: 1.5em;
        padding: 20px;
    }
    .first-view-servicios p{
        padding: 30px;
        font-size: 1em;
    }
    /* ------------------------------------------------------------------------------------------------------- */
    .left span{
        display: flex;
        flex-direction: column;
        width: 100px;
        padding: 20px;
    }
    .left .left-side-servicios span{
        text-align: center;
        display: flex;
        flex-direction: column;
        width: 300px;
        margin: auto;
        align-items: center;
    }
    .left .left-side-servicios span img{
        width: 100px;
    }
    .left h3{
        margin: 60px 20px;
        font-size: 1.5em;
    }
    .left a{
        font-size: 1.1em;
        width: 150px;
    }    
    /* ---------------------------------------------------------------------------------------------- */
    .fourth-view {
        flex-direction: column;
        align-items: center;
      }
      .fourth-view .fourth-view-izquierdo {
        width: 80%;
        margin: auto;
        margin-top: 40px ;
      }
      .fourth-view .fourth-view-izquierdo h4 {
        color: white;
        font-size: 1.3em;
      }
      .fourth-view .fourth-view-izquierdo p {
        margin-top: 40px;
        color: white;
        font-size: 0.8em;
      }
      .fourth-view .fourth-view-derecho {
        width: 80%;
        margin: 60px;
      }
      .fourth-view .fourth-view-derecho p {
        color: white;
        font-size: 0.8em;
      }
      .redes-footer {
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .redes-footer img {
        width: 30px;
        margin-right: 20px;
        transition: 1s;
      }
      footer {
        font-size: 0.7em;
        padding: 20px 40px;
      }








    .contenedores-planes{
        flex-direction: column;
    }
    .contenedor{
        flex-direction: column;
        padding: 30px 10px;
        width: 90%;
        margin: auto;
        margin-bottom: 40px;
    }
    .titulo-planes{
        font-size: 2em;
        padding: 0;
        margin: 40px auto;
        text-align: center;
    }
    .contenedor h3{
        font-size: 1.5em;
    }
    .info-plan img{
        width: 50px;
    }
    .info-plan p{
        width: 80%;
        font-size: 1em;
    }
    .precio h4{
        font-size: 1.4em;
    }
    .precio h5{
        font-size: 1em;
    }
    .seccion-preciosDos .contenedor{
        padding: 30px 10px;
        width: 90%;
        margin: auto;
        margin-bottom: 40px;
    }
    .seccion-preciosDos .titulo-planes{
        font-size: 2em;
        padding: 20 0;
        margin: 20px auto;
        text-align: center;
    }
    .seccion-preciosDos .contenedor h3{
        font-size: 1.5em;
    }
    .seccion-preciosDos .info-plan p{
        font-size: 1em;
    }
    
    .seccion-preciosDos .precio h4{
        font-size: 1.4em;
    }
    .seccion-preciosDos .precio h5{
        font-size: 0.8em;
    }
    
    .seccion-preciosTres .contenedor{
        padding: 30px 10px;
        width: 90%;
    }
    .seccion-preciosTres .titulo-planes{
        padding: 0;
    }
    .seccion-preciosTres .info-plan p{
        font-size: 1em;
        margin-left: 10px;
    }
    .seccion-preciosTres .precio h4{
        font-size: 1.4em;
    }
    .seccion-preciosTres .precio h5{
        font-size: 0.8em;
    }


    .cotizar{
        padding: 20px;
    }
    .cotizar h3{
        font-size: 2em;
    }
    .cotizar a{
        font-size: 1.3em;
        width: 200px;
        height: 50px;
    }
}
